<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Image/Logos/favicon_io/favicon.ico">
    <title>BLACK JUMP</title>
    <link rel="stylesheet" type="text/css" href="/Styles/Frontend/Sesion.css">
</head>
<body>
    
    <section>
        <div class="container">
            <div class="form-box">
                <div class="form-value">
                    <form id="Sesion-form">
                        <h2>Inicio</h2>
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input type="email" id="CORREO_USER" name="CORREO_USER" placeholder="Email" required>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" id="PASSWORD_USER" name="PASSWORD_USER" placeholder="password" required>
                        </div>
                        <div class="forget">
                            <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
                        </div>
                        <button type="submit" id="log" class="Log">Log in</button>
                        <div class="register">
                            <p>No estás <a href="/Registro">Registrado</a></p>
                        </div>
                        <div class="Volver">
                            <p><a href="/BLACKJUMP1">Volver a Inicio</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="/JavaScript/Sesion.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

